body {
    font-family: 'Times New Roman', sans-serif;
    margin:35px;
    margin-top:35px;
    padding: 0;
    background-color: #265073;


  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    color: #000000;

    
  }
  
  h2 {
    border-bottom: 2px  #ffffff;
    padding-bottom: 5px;
    margin-top: 14 px;
  }
  
  p {
    color: #000000;
    line-height: 1.0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }